@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#home-button {
  display: none;
}

#search-container {
    max-width: 200px;
}

.search-go-container {
    display: none;
}
